#container{
    height:400px;
    width:400px;
    border:2px solid black;
    border-radius:10px;
    border-color: aqua;
    margin:10px auto;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:space-evenly;
    
    align-items:center;
    
    
}
.bsdk{
    height:100px;
    width:100px;
    background-color: grey;
    border-radius:10px;
    border:2px solid black;
    font-size:50px;
    text-align: center;
}

#cont{
    height:50px;
    width:900px;
    background-color:pink;
    margin:150 auto;
    border:2px solid aquamarine;
    display:flex;
    border-radius:10px;
    align-items:center;
    justify-content:flex-start;

}   
.abc{
    height:50px;
    width:80px;
    border-radius:10px;
    margin-left:5px;
    text-align:center;
    line-height:50px;
    font-size:24px;
    
}