div{
    margin:2px;
    height:200px;
    width:70px;
    border:2px solid black;
}
#div1{
    background-color:rgb(255, 0, 0);
    height:20px;
    width:20px;
    padding:10px;
    margin: 20px 13px 10px 13px;
    border-radius:50%;
}
#div2{
    background-color:rgb(0, 255, 0);
    height:20px;
    width:20px;
    padding:10px;
    margin: 10px 13px 10px 13px;
    border-radius:50%;
}
#div3{
    background-color:rgb(0, 0, 255);
    height:20px;
    width:20px;
    padding:10px;
    margin: 10px 13px 10px 13px;
    border-radius:50%;
}

